<form action="/form_output" method="POST">
    <label for="name">名前：</label>
    <input type="text" name="name" id="name" />
    <label for="email">メールアドレス：</label>
    <input type="email" name="email" id="email" />
    <label for="content">内容：</label>
    <input type="text" name="content" id="content"/>
    
    <input type="submit" value="送信する">
</form> 
