<% if @name %>
    <p>Hello, <%= @name %></p>
<% end %>

<form action='/hello' method="GET">
    <input type="text" name="name" id="name" placeholder="お名前は？">

    <input type="submit" value="送信する">
</form>