<ul>
    <li>
        <a href="/hello?name=sabo">Hello</a>
    </li>
    <li>
        <a href="/user/sabo">User: sabo</a>
    </li>
    <li>
        <a href="/user/yabu">User: yabu</a>
    </li>
    <li>
        <a href="/time">時刻表示</a>
    </li>
    <li>
        <a href="/form">フォーム送信</a>
    </li>
    <li>
        <a href="/upload">画像アップロード</a>
    </li>
</ul>