<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinatra Tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/" style="text-decoration: none;"><h1>Sinatra Tutorial</h1></a>
<% if session[:name] %>
    <p>Hello, <%= session[:name] %></p>
<% end %>
<%= yield %>    
</body>
</html>